<div ng-controller="ViewdesigncomboCtrl">
    <div class="view-bar">
        <button type="button" id="component" class="{{ component.cssClass.join(' ') }}" style="{{component.style}}" ng-show="component.content.length" ><span style="{{component.contentStyle}}">{{ component.content }}</span></button>
    </div>
    <div class="design-bar " style="height: 385px; overflow:scroll;">


        <div class="control-group">
            <label class="label label-primary" for="button-css">BUTTON CSS CLASS :</label>
            <div class="controls" ng-controller="InputintellisenseCtrl" >
                <input id="button-css" type="text" ui-select2="select2Config" ng-model="component.cssClass" style="width:300px;" />
            </div>
        </div>
        <div class="control-group">
            <label class="label label-primary" for="button-style">BUTTON STYLE :</label>
            <div class="controls">
                <textarea class="form-control" id="button-style" rows="4" cols="50" ng-model="component.style"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="label label-primary" for="button-content">BUTTON CONTENT :</label>
            <div class="controls">
                <input class="form-control" id="button-content" rows="4" cols="50" ng-model="component.content"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="label label-primary" for="button-content-style">BUTTON CONTENT STYLE : </label>
            <div class="controls">
                <textarea class="form-control" id="button-content-style" rows="4" cols="50" ng-model="component.contentStyle"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="label label-primary" for="code">CODE :</label>
            <div class="controls">
                <textarea class="form-control" id="code" readonly rows="4" cols="50" >
                    <button type="button" id="button-id" class="{{ component.cssClass.join(' ') }}" style="{{component.style}}">
                        <span style="{{component.contentStyle}}">{{ component.content }}</span>
                    </button>
                </textarea>
            </div>
        </div>
    </div>
</div>
