<!DOCTYPE html>
<html >

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css" />
    <link href="boot.css" rel="stylesheet" />
    <link href="http://ivaynberg.github.com/select2/select2-3.2/select2.css" rel="stylesheet" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script src="angular-ui.js"></script>
    <script src="http://ivaynberg.github.com/select2/select2-3.2/select2.js"></script>
   <script src="angularselect2.js"></script>
   <script src="app.js"></script>
  </head>

  <body ng-app="plunker" >
   
  
  <input  ng-controller="typeaheadctrl" type="text" ui-select2="selecttag"  style="width:200px" ng-model="myTags">
  <select ng-controller="MainCtrl" ui-select2="select2Options" ng-model="select2" style="width:200px">
    
    <option ng-repeat="item in items" value="{{item.id}}">{{item.text}}</option>
</select>
    
  </body>

</html>
